@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navigate,
.container,
.features,
.howtoplay {
  font-family: inherit;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard-container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.SideBar{
  display:flex;
  justify-content: center;
  flex-direction: column;
  min-width: 80px;
  height: 100vh;
  background-color: #000;
  position: relative;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  line-height: 4.5;
  gap: 20px;
}

.container{
  display: flex;
  /* margin-top: 100px; */
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding: 10px;
  border: 2px solid rgb(247, 243, 130);
  font-family: inherit;
  background-color: transparent;
  font-size: 20px;
  color: rgb(247, 243, 130);
  cursor: pointer;
}

.logo a:hover{
  color: #fff;
}

.body-text{
  text-align: left;
  color: rgb(247, 243, 130);
  font-family: inherit;
  font-size:larger;
  height: max-content;
}

.hamster{
  width: 400px;
  height: 100%;
  box-shadow: 0 70px 60px rgba(0, 0, 0, 0.5);
}

.navbutton {
  font-family: inherit;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgb(247, 243, 130);
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.3s ease;
}
.navbutton:hover {
  transform: scale(1.1);
  font-size: 22px ;
  color: black;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.signForm{
  border: 2px solid rgb(247, 243, 130);
  border-radius: 8px;
  padding: 60px 40px;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 300px;
  background-color: #181815;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.form input {
  font-family: inherit;
  border: 2px solid rgb(247, 243, 130);
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 20px;
  height: 40px;
}

.form{
  width: 70%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
  gap: 30px;
  /* background-color: red; */
}

.intra_sign_in{
  background-color: black;
  border: 2px solid rgb(247, 243, 130);
  width: 90%;
  margin-bottom: 50px;
  height: 50px;
  color: rgb(247, 243, 130);
  border-radius: 10px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  
}

.signinbutton{
  background-color: transparent;
  border-style: hidden;
  color : rgb(247, 243, 130);
  cursor:pointer;
  font-size: 20px;
  width: 40%;
  padding: 9px;
  font-family: inherit;
}

.signinbutton:hover{
  transform: scale(1.1);
  background-color: rgb(247, 243, 130);
  border: none;
  color:black;
}

.signinhead{
  font-weight: 300;
  padding-bottom: 40px;
  margin: 0;
  color: rgb(247, 243, 130);
}

.msgSignIn{
  color : #685E5E;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpLink{
  color :  rgb(247, 243, 130);
  text-decoration: underline;
  cursor: pointer;
}

.forgotPasswordSignIn{
  align-self: flex-end;
  font-size: 12px;
  margin: 0;
  margin-top: -10px;
}

.forgotPasswordSignIn:hover{
  cursor: pointer;
}

.error-messages{
  font-size: 13px;
  color:  #f5b83d;
}

.success-messages{
  font-size: 14px;
  color: #bde052;
}

.features{
  width: 100%;
  font-size: 25px;
  color:rgb(247, 243, 130);
}


.title-text{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color:#f5b83d;
}



.SideBar ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}



.SideBar .middle-sidebar-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.logout-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.logout-icon:hover{
  transform: scale(1.05);  
  color: rgb(235, 135, 85);
}

.SideBar li :hover {
  transform: scale(1.05);  
  color: rgb(235, 135, 85);
  cursor: pointer;
}

.main-dashbord-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(235, 135, 85);
  padding: 0;
  /* background-color: rgb(174, 255, 218); */
}

.dashboard-navbar{
  display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
padding-top: 10px;
}

.search-input{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  padding-left: 8px;
  background-color: #000;
  border: none;
}

.search-btn{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-icon{
  background-color: #000;
  color: rgb(235, 135, 85);
  border: none;
  padding: 5px;
  cursor: pointer;
}

.notification-and-profile {
  display: flex;
  align-items: center;
  gap:50px;
}

.notification{
  display: flex;
  align-items: center;
  justify-content: end;
  
}
.notification-icon{
  color: rgb(235, 135, 85);
  background-color: transparent;
  border: none;
}

.profile{
  color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

.profile-img {
  height: 4px;
  width: 4px;
  border-radius: 50%;
}