@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#root {
  font-family: inherit; 
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  line-height: 4.5;
  gap: 20px;
}

.container{
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding: 10px;
  border: 2px solid rgb(247, 243, 130);
  font-family: inherit;
  background-color: transparent;
  font-size: 20px;
  color: rgb(247, 243, 130);
  cursor: pointer;
}

.logo a:hover{
  color: #fff;
}

.body-text{
  text-align: left;
  color: rgb(247, 243, 130);
  font-family: inherit;
  font-size:larger;
  height: max-content;
}

.hamster{
  width: 400px;
  height: 100%;
  box-shadow: 0 70px 60px rgba(0, 0, 0, 0.5);
}

.navbutton {
  font-family: inherit;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgb(247, 243, 130);
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.3s ease;
}
.navbutton:hover {
  transform: scale(1.1);
  font-size: 22px ;
  color: black;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.signForm{
  border: 2px solid rgb(247, 243, 130);
  border-radius: 8px;
  padding: 60px 40px;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 300px;
  background-color: #181815;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

.form input {
  font-family: inherit;
  border: 2px solid rgb(247, 243, 130);
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 20px;
  height: 40px;
}

.form{
  width: 70%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
  gap: 30px;
  /* background-color: red; */
}

.intra_sign_in{
  background-color: black;
  border: 2px solid rgb(247, 243, 130);
  width: 90%;
  margin-bottom: 50px;
  height: 50px;
  color: rgb(247, 243, 130);
  border-radius: 10px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  
}

.signinbutton{
  background-color: transparent;
  border-style: hidden;
  color : rgb(247, 243, 130);
  cursor:pointer;
  font-size: 20px;
  width: 40%;
  padding: 9px;
  font-family: inherit;
}

.signinbutton:hover{
  transform: scale(1.1);
  background-color: rgb(247, 243, 130);
  border: none;
  color:black;
}

.signinhead{
  font-weight: 300;
  padding-bottom: 40px;
  margin: 0;
  color: rgb(247, 243, 130);
}

.msgSignIn{
  color : #685E5E;
  text-decoration: none;
}

.signUpLink{
  color :  rgb(247, 243, 130);
  text-decoration: underline;
  cursor: pointer;
}

.forgotPasswordSignIn{
  align-self: flex-end;
  font-size: 12px;
  margin: 0;
  margin-top: -10px;
}

.forgotPasswordSignIn:hover{
  cursor: pointer;
}

.error-messages{
  font-size: 13px;
  color:  #f5b83d;
}

.success-messages{
  font-size: 14px;
  color: #bde052;
}

.features{
  margin-top: 20%;
  width: 100%;
  font-size: 25px;
  color:rgb(247, 243, 130);
}

.title-text{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color:#f5b83d;
}

.SideBar{
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #000;
}

.SideBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}

.SideBar li{
  padding: 20px 0;
  margin-top: 50px;
  cursor: pointer;
}

.SideBar .first-sidebar-icon {
  margin-top: 0;
  padding: 20px 0;
  /* background-color: green; */
}

.SideBar .middle-sidebar-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.SideBar .last-sidebar-icon {
  margin-top: 600px;
}

.SideBar li :hover {
  transform: scale(1.1);  
  color: rgb(235, 135, 85);
}

.dashboard-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* background-color: green; */
}

.dash-navbar {
  width: 100%;
  height: max-content;
  /* background-color: red; */
}

.dash-navbar ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}

.dash-navbar li{
  width: 100%;
  display: inline;
  justify-content: space-around;
  list-style: none;
  padding: 20px 0;
  background-color: #000;
}


.main-dashbord-content{
  color: rgb(235, 135, 85);
  margin-top: 30%;
}


.nav-btns{
  font-family: inherit;
  font-size: 18px;
  width: 150px;
  height: 40px;
  border-radius: 20px solid;
  border: none ;
  color: rgb(235, 135, 85);
  background-color: transparent;
  cursor: pointer;
}

.nav-btns:hover{
  border-radius: 0px solid;
  color: #000;
  background-color: rgb(235, 135, 85);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-icons{
  display: inline;

  /* background-color: red; */
  align-items: right;

}